
.div_deg{
    padding: 15px;
}

button{
    background-color: rgb(144, 144, 194);
    color: white;
}

label{
    display: inline-block;
    width: 230px;
}

table{
    border: 1px solid black;
}

th{
    padding: 20px;
    text-align: center;
    align-items:end;
    color: white;
    background-color: blue;
    font-size: 15px;
}

td{
    text-align: center;
    font-size: 13px;
    background-color: black;
    color: white;
}

.btn-danger{
    background-color: red;
}